/* CSS LAYOUT */
/* **************************************************************** */

/*variable*/
:root{
/*ancho de escritorio 20222*/
--anchoPantalla:1366px;
}

/*header*/

/*nav*/

/*fondo*/
.contenedor{
    height:;
}
/*calculo de la mitad del tamaño de pantalla*/

main,footer{
    width: calc(var(--anchoPantalla)/2);
}
/*contenido*/
main{
 border-radius: 20px;
 height: 90%;   
}

/*Zona banner*/
.banner, .texto, .contacto{
    padding: 5%;
}
/*copyrigt*/

footer{
height: 5%;
/*espacio d los laterales*/
padding: 2% 10%;
text-align: center;
}
/*section*/
.banner{}
.texto{}
.contacto{}

